#messages{
    height: 400px; 
    width: 500px; 
    overflow: scroll; 
    justify-content: center;
}
#messageBox{
    display: block; 
    width: 80%; 
    margin-bottom: 10px; 
    padding: 10px;
}
#send{
    width: 80%; 
    height: 30px;
}
@import url("https://use.typekit.net/udl4yra.css");
@import url("https://use.typekit.net/pdq6mrt.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.root{
  :root {
    --blue: #0B0521;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(159, 201, 239);
}
header {
  display: flex;
  height: 70px;
  position: fixed;
  gap: 10%;
  z-index: 12;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
  }
  .logo  {
      
    a{
     width: 30%;
     color: #000000;
     text-decoration: none;
     font-family: "vox-round", sans-serif;
     font-weight: 600;
     font-size: 24px;
     font-style: normal;
      
    }
   
  }
  .menu {
    width: 20%;
    display: flex;
    gap: 50px;

    li {
        margin: 0 15px;
        list-style: none;
        

        a {
            font-family: "vox-round", sans-serif;
            font-weight: 400;
            font-size: 22px;
            font-style: normal;
            -webkit-text-decoration: 0;
            text-decoration: 0;
            color: rgb(11, 5, 33);
            position: relative;
          }
          a::after {
            position: absolute;
            bottom: 2px;
            right: 0;
            content: "";
            width: 100%;
            height: 0px;
            background-color: rgba(215, 214, 153, 0.7);
            transition: 0.5s;
          }
          a:hover::after {
            height: 10px;
          }
  }
} 
}
body{
    scroll-behavior: smooth;
    padding-left: 5%;
    padding-right: 5%;
 
  .presentation {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .pres{
      margin-top: 2%;
      width: 70%;
      height: 65vh;
      display: flex;
      background-color: #97ACFE;
      border-radius: 25px 25px 0px 25px;
      h2{
        margin-top: 7vh;
        margin-left: 2vw;
        font-family: "vox-round", sans-serif;
        font-weight: 700;
        font-size: 28px;
        font-style: normal;
        
      }
      P{
        margin-left: 2vw;
        font-family: "franklin-gothic-compressed", sans-serif;
        font-weight: 400;
        font-size: 26px;
        font-style: italic;
      }
      button{
        background-color: #69140E;
        width: 300px;
        height: 68px;
        border-radius: 15px;
        border: none;
        margin-top: 40vh;
        margin-left: 2vw;
      }
    }
    .box{
      margin-top: 2%;
      width: 25%;
      height: 65vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .uno{
          
          width: 100%;
          height: 30vh;
          display: flex;
          background-color: #F9E19B;
          border-radius: 25px 25px 0px 25px;
          h2{
            margin-top: 7vh;
            margin-left: 2vw;
            width: 250px;
            font-family: "vox-round", sans-serif;
            font-weight: 700;
            font-size: 28px;
            font-style: normal;
            
          }
          P{
            margin-left: 2vw;
            font-family: "franklin-gothic-compressed", sans-serif;
            font-weight: 400;
            font-size: 26px;
            font-style: italic;
          }
            button{
                background-color: #69140E;
                width: 180px;
                height: 42px;
                border-radius: 15px;
                border: none;
                margin-top: 12vh;
                margin-left: 2vw;
              }
          
      }
      .dos{
          width: 100%;
          height: 30vh;
          display: flex;
          background-color: #9BF3F0;
          border-radius: 25px 25px 0px 25px;
          h2{
            margin-top: 5vh;
            margin-left: 2vw;
            width: 250px;
            font-family: "vox-round", sans-serif;
            font-weight: 700;
            font-size: 28px;
            font-style: normal;
          }
          P{
            margin-left: 2vw;
            font-family: "franklin-gothic-compressed", sans-serif;
            font-weight: 400;
            font-size: 26px;
            font-style: italic;
          }
            button{
                background-color: #69140E;
                width: 180px;
                height: 42px;
                border-radius: 15px;
                border: none;
                margin-top: 12vh;
                margin-left: 2vw;
              }
      }
    }
}
.midle{
    //justify-content: center;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: -1.2%;
     font-family: "vox-round", sans-serif;
     font-weight: 700;
     font-size: 24px;
     font-style: normal;
   }
   .ligne1{
    height: 2px;
    width: 41%;
    background-color: #0B0521;
}
.ligne1bis{
    height: 2px;
    width: 41%;
    background-color: #0B0521;
}
.about_me {
    height: 190vh;
    width: 100%;
    margin: 0 auto;
    display: block;
   
    .rowa{
      display: flex;
      width: 100%;
      height: 35vh;
      flex-direction: row;
      
    }
    .rowb{
        display: flex;
        width: 100%;
        height: 80vh;
        flex-direction: row;
    }
    .rowc{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-direction: column;
    }
}
  }

  .animate__animated.animate__backInLeft {
       animation-delay: 1s;
    }
  .animate__animated.animate__backInUp{
    animation-delay: 5s;
  }
  
@media (max-width: 840px) {
  body{
    width: 100%;
    header .menu {
      display: none;
    }
    header {
      padding: 0 20px;
      
    }
 
.presentation {
      padding-top: 25%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
      h1{
        color: #484358;
        font-weight: 600;
        font-size: 15px;
    
      }
      h2{
        display: none;
      }
    
      .box{
        display: none;
      }
      .oursection {
        display: flex;
        flex-direction: row;
        gap: 2%;
        padding: 3%;
        min-width: 200px;
        max-width: 100%;
        min-height: 150px;
        max-height: 350px;
        /*.our_card.active {
            flex-grow: 1000;
            transform: scale(1);
            max-width: 300px;
            margin: 0px;
            border-radius: 20px;
            
          }*/
          .our_card {
            
            position: relative;
            overflow: hidden;
            min-width: 100px;
            margin: 10px;
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
           
          }
      }

}

.midle{
      margin-left: 12%;
      font-weight: bold;
      font-size: 25px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.categories{

    .cat{
      display: none;
      /*
      font-weight: 150;
      font-size: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
      :nth-child(1) {
          color: #484358;
          
        }
       
    }
    .barre{
      top: 2px;
      bottom: 2px;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #0B0521;*/
    
    }
}
.skills{
height: 120vh;
width: 100%;
margin: 0 auto;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 20vh 20vh ;

.haut{

  height: 40vh;
  grid-column: 1/2;
  grid-row: 1/3;
  flex-direction: column;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 20vh;

  :nth-of-type(1){
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      gap: 10%;
      margin-left: 3%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

  :nth-of-type(2){
      height: 100%;
      grid-column: 1/2;
      grid-row: 2/3;
      gap: 10%;
      margin-left: 5%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
}
.bas{
  height: 100vh;
  flex-direction: column;
  display: flex;

  .skills__col{
    height: 40vh;
    margin-top: 60%;
    margin-left: 0%;
    margin-bottom: 10%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .be{
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 10px;

      .skills__list-icoa img{
        border: #020205 1px solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
       
      }
      .Laura{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .skills__list-title{
    
        color: #484358;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 500;
        }
        .skills__list-desc{
          color: #484358;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 12px;
          font-weight: 400;
          }

      }

    }
    .my{
      display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: -3%;
        gap: 10px;

      .skills__list-icob img{
        border: #020205 1px solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .aime{
          display: flex;
         justify-content: center;
         flex-direction: column;

        .skills__list-title{
  
          color: #484358;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          font-weight: 500;
        }
        .skills__list-desc{
          color: #484358;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 12px;
          font-weight: 400;
          }
        }
      }
    .way{
      display: flex;
      justify-content: center;
      margin-left: -3%;
      gap: 10px;

      .skills__list-icoc img{
        border: #020205 1px solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .les_cookies{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .skills__list-title{
          color: #484358;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          font-weight: 500;
        }
        .skills__list-desc{
          color: #484358;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 12px;
          font-weight: 400;
          }

      }

    }
    }
    .container {
      height: 750px;
      width: 300px;
      margin-top: 20%;
      margin-bottom: 10%;
      gap: 10%;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .boxe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 3px solid #AAABC6;
          opacity: 0.7;
          gap: 5px;

          h1{
              align-content: initial;
              padding-top: 3%;
              padding-bottom: 2%;
            }

            img{
              border: #0B0521 2px solid;
              width: 20px;
              height: 20px;
            }
        }

        .boxi {
          display: none;
         /* width: 50%;
          height: 30%;
          position: absolute;
          top: -5em;
          left: 10em;
          opacity: 1;
          z-index: 5;
          background: #D7D699;

          h1{
              align-content: initial;
              margin-left: 20%;
              margin-top: 10%;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 40px;
            }*/
        }
    }

}
}

.about_me {
height: 170vh;
width: 100%;
margin: 0 auto;
padding: 3%;
display: block;

.rowa{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 10vh 10vh 5vh;
  :nth-of-type(1){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;

      h1{
          color: #484358;
          margin-top: 15%;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    :nth-of-type(2){
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    :nth-of-type(3){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;

      h2{
          margin-top: 25%;
          color: #484358;
          font-weight: 300;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }


}
.ligne1{
  height: 2px;
  width: 100%;
  background-color: #0B0521;
  
}
.rowb{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 15vh 15vh 5vh;

  :nth-of-type(1){

      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      img{
        width: 50%;
        height: 15vh;
        transform: rotate(0deg);
        margin-top: 10%;
        margin-left: 25%;
         }
    }

    :nth-of-type(2){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      h2{
          padding-top: 45%;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    :nth-of-type(3){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 2/5;
      p{
          padding-top: 50%;
          font-weight: 300;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      
    }
}
.ligne2{
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 20%;
}
.rowc{
  margin-top: 5%;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 10vh 10vh 5vh;
  :nth-of-type(1){

      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      img{
        width: 40%;
        height: 15vh;
        transform: rotate(0deg);
        margin-top: 7%;
        margin-left: 30%;
         }
    }

    :nth-of-type(2){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      h2{
          padding-top: 45%;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    :nth-of-type(3){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 1/2;
      grid-row: 2/5;
      p{
        padding-top: 50%;
        font-weight: 300;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
.ligne3{
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 40%;
}
.rowd{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 10vh 10vh 5vh;
  padding: 4%;

  :nth-of-type(1){
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    :nth-of-type(2){
      display: flex;
      justify-content: center;
      height: 100%;
      grid-column: 2/3;
      grid-row: 1/2;
      
      a{
        text-decoration: none;

        button{
          height: 60px;
          border-radius: 20px;
          width: 15em;
          background-color: #fff;
          padding-top: 60%;
          margin-top: 40%;
          margin-left: -17rem;
          border: 3px solid #0b0521c8;
          transition: background-color 0.3s, color 0.3s,border 0.3s;
            
            h2{
              padding-top: 1.5rem;
              font-weight: 700;
              color: #D7D699;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
          :hover {
          background-color: #0b0521c8;
          border-radius: 20px;
          border: 3px solid #D7D699;
          color: white;
          }
        }

      }
     
    }
    :nth-of-type(3){
      height: 100%;
      grid-column: 3/4;
      grid-row: 1/2;
    }
  
}
.ligne4{
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: -20%;
}
}
.block{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px;

  .recipe{
      width: 300px;
      height: 60vh;
      background-color: #C4D3F5;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 25%;
      margin-bottom: 15px;
      border-radius: 20px;
      transition: 0.5s;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);

      h1{
          color: #0B0521;
          font-size: 20px;
      }
      h2{
        color: #cbb12b;
          font-size: 15px;

      }
      p{
        font-size: 12px;
        ul{
          font-size: 10px;
        }
      }
      img{
          width: 60px;
          height: 60px;
          margin-top: 5%;
      }
  }
  .performance{
      width: 300px;
      height: 110vh;
      background-color: #D7D699;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 25%;
      margin-bottom: 15px;
      transition: 0.5s;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);

      h1{
          color: rgba(79, 1, 1, 0.942);
          font-size: 18px;
      }
      h2{
          color: rgba(148, 86, 11, 0.942);
          font-size: 12px;
      }
      p{
          color: rgba(148, 86, 11, 0.942);
          font-size: 10px;
          li{
            font-size: 10px;
          }
      }
  
  }
}
#experience{
  width: 90%;
  height: 100%;
  display: flex;
  justify-self: start;
  flex-direction: column;
  .room{
    width: 100%;
    height: 70vh;
    h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 700;
      font-weight: 500;
      color: #020205;
    }
    p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 500;
      font-weight: 300;
      color: #020205;
    }
  }
  .resume img{
    border: #020205 3px solid;
    margin-top: 10em;
    margin-left: 0.5em;
    width: 100%;
    height: 60vh;
  }
  button{
    border: #0B0521 2px solid;
    width: 30%;
    height: 15%;
    margin-left: -1em;
    border-radius: 10px;

    a{
      text-decoration: none;
      color: #0B0521;
    }

  }

}
.toggle_menu {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
}
.toggle_menu::before {
position: absolute;
content: "";
height: 3px;
width: 28px;
background-color: #484358;
border-radius: 6px;
box-shadow: 0 10px 0 #484358;
transform: translateY(-10px);
transition: 0.5s;
}
.toggle_menu.active::before {
transform: translateY(0) rotate(135deg);
box-shadow: 0 0 0 #484358;
} 
.toggle_menu::after {
position: absolute;
content: "";
height: 3px;
width: 22px;
margin-left: 5px;
background-color: #D7D699;
border-radius: 6px;
transform: translateY(10px);
transition: 0.5s;
}
.toggle_menu.active::after {
transform: translateY(0) rotate(-135deg);

}    
header .menu.responsive {
display: flex;
position: fixed;
top: 50px;
left: 0;
width: 100%;
align-items: center;
background-color: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
flex-direction: column;
li {
margin: 15px 0;
}
}
footer {
  background-color: #8ca9ea;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
  opacity: 0.7;
  h1{
    color: rgb(11, 5, 33);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  p{
    color: rgb(215, 214, 153);
  }

  p:hover{
    color: #717d06;
  }
  .services {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    
    .service1{
      margin-top: 4ex;
      margin-left: 11ex;
    }
    .service2{
      margin-top: 4ex;
      margin-left: 6ex;
      h1{
        margin-left: 10ex;
      }
    }
    .service3{
      margin-top: 4ex;
      margin-left: 14ex;
      .logo-perso{
        display: flex;
        flex-direction: row;
        gap: 10px;
        img{
          width:40px;
          height:40px;
        }
      }
      .logo-perso-2{
        display: flex;
        flex-direction: row;
        gap: 10px;
        img{
          width:40px;
          height:40px;
        }
      }
      .logo-perso-3{
        display: flex;
        flex-direction: row;
        gap: 10px;
        img{
          width:40px;
          height:40px;
        }
      }
    }
  }
}
}
}
