.wireframe {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wireframe .div {
  background-color: #ffffff;
  height: 3656px;
  position: relative;
  width: 100%;
}

.wireframe .overlap {
  height: 665px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wireframe .overlap-group {
  height: 379px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wireframe .rectangle {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #040f1640;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wireframe .group {
  height: 38px;
  left: 20px;
  position: absolute;
  top: 19px;
  width: 45px;
}

.wireframe .keeper-tracker {
  color: transparent;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 520px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 400px;
}

.wireframe .text-wrapper {
  color: #040f16;
}

.wireframe .span {
  color: #000000;
}

.wireframe .img {
  height: 129px;
  left: 1278px;
  position: absolute;
  top: 0;
  width: 162px;
}

.wireframe .frame {
  height: 264px;
  left: 1034px;
  position: absolute;
  top: 114px;
  width: 377px;
}

.wireframe .overlap-group-wrapper {
  height: 264px;
  width: 381px;
}

.wireframe .overlap-group-2 {
  background-color: #f9e19b;
  border-radius: 25px 25px 0px 25px;
  height: 264px;
  position: relative;
  width: 377px;
}

.wireframe .rectangle-2 {
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 377px;
}

.wireframe .text-wrapper-2 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 327px;
}

.wireframe .p {
  color: #000000;
  font-family: "ITC Franklin Gothic LT Pro-BookCompressed Italic", Helvetica;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  left: 27px;
  letter-spacing: -0.36px;
  line-height: 36px;
  position: absolute;
  top: 84px;
  width: 327px;
}

.wireframe .group-2 {
  background-color: #69140e;
  border-radius: 15px;
  height: 41px;
  left: 27px;
  position: absolute;
  top: 204px;
  width: 180px;
}

.wireframe .arrow {
  height: 29px;
  left: 146px;
  position: absolute;
  top: 6px;
  width: 24px;
}

.wireframe .discover {
  height: 19px;
  left: 18px;
  position: absolute;
  top: 11px;
  width: 72px;
}

.wireframe .group-wrapper {
  height: 549px;
  left: 64px;
  position: absolute;
  top: 116px;
  width: 942px;
}

.wireframe .div-wrapper {
  height: 549px;
  width: 946px;
}

.wireframe .overlap-group-3 {
  background-color: #97acfe;
  border-radius: 25px;
  height: 549px;
  position: relative;
  width: 942px;
}

.wireframe .text-wrapper-3 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 422px;
}

.wireframe .rectangle-3 {
  height: 549px;
  left: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.wireframe .text-wrapper-4 {
  color: #000000;
  font-family: "ITC Franklin Gothic LT Pro-BookCompressed Italic", Helvetica;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  left: 49px;
  letter-spacing: -0.36px;
  line-height: 36px;
  position: absolute;
  top: 145px;
  width: 370px;
}

.wireframe .img-wrapper {
  background-color: #69140e;
  border-radius: 15px;
  height: 69px;
  left: 49px;
  position: absolute;
  top: 451px;
  width: 305px;
}

.wireframe .group-3 {
  height: 33px;
  left: 31px;
  position: absolute;
  top: 18px;
  width: 257px;
}

.wireframe .overlap-wrapper {
  background-color: #9bf3f0;
  border-radius: 25px;
  height: 264px;
  left: 1034px;
  overflow: hidden;
  position: absolute;
  top: 401px;
  width: 377px;
}

.wireframe .overlap-2 {
  height: 278px;
  left: 27px;
  position: relative;
  top: 27px;
  width: 417px;
}

.wireframe .overlap-3 {
  height: 278px;
  left: 0;
  position: absolute;
  top: 0;
  width: 417px;
}

.wireframe .group-4 {
  height: 152px;
  left: 180px;
  position: absolute;
  top: 126px;
  width: 237px;
}

.wireframe .overlap-group-4 {
  height: 152px;
  position: relative;
}

.wireframe .rectangle-4 {
  background-color: #f9e19b;
  border-radius: 16px;
  height: 108px;
  left: 9px;
  position: absolute;
  top: 22px;
  transform: rotate(-12.04deg);
  width: 219px;
}

.wireframe .group-5 {
  height: 102px;
  left: 11px;
  position: absolute;
  top: 9px;
  width: 160px;
}

.wireframe .text-wrapper-5 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 327px;
}

.wireframe .text-wrapper-6 {
  color: #000000;
  font-family: "ITC Franklin Gothic LT Pro-BookCompressed Italic", Helvetica;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.36px;
  line-height: 36px;
  position: absolute;
  top: 49px;
  width: 327px;
}

.wireframe .group-6 {
  background-color: #69140e;
  border-radius: 15px;
  height: 41px;
  left: 0;
  position: absolute;
  top: 182px;
  width: 180px;
}

.wireframe .overlap-4 {
  background-color: #c6c6c6;
  border-radius: 25px 25px 0px 25px;
  height: 264px;
  left: 64px;
  position: absolute;
  top: 754px;
  width: 377px;
}

.wireframe .text-wrapper-7 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  height: 155px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 256px;
}

.wireframe .group-7 {
  height: 47px;
  left: 20px;
  position: absolute;
  top: 689px;
  width: 1402px;
}

.wireframe .overlap-5 {
  height: 47px;
  left: -1px;
  position: relative;
}

.wireframe .text-wrapper-8 {
  color: #040f16;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 501px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 400px;
}

.wireframe .line {
  height: 2px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 555px;
}

.wireframe .line-2 {
  height: 2px;
  left: 846px;
  position: absolute;
  top: 22px;
  width: 555px;
}

.wireframe .overlap-6 {
  height: 745px;
  left: 20px;
  position: absolute;
  top: 1028px;
  width: 1402px;
}

.wireframe .overlap-7 {
  height: 194px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1402px;
}

.wireframe .group-8 {
  height: 47px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 1402px;
}

.wireframe .line-3 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 524px;
}

.wireframe .line-4 {
  height: 2px;
  left: 877px;
  position: absolute;
  top: 22px;
  width: 524px;
}

.wireframe .text-wrapper-9 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: -13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  transform: rotate(-30deg);
  white-space: nowrap;
  width: 328px;
}

.wireframe .overlap-8 {
  height: 507px;
  left: 37px;
  position: absolute;
  top: 143px;
  width: 248px;
}

.wireframe .line-5 {
  height: 478px;
  left: 89px;
  position: absolute;
  top: 0;
  width: 2px;
}

.wireframe .text-wrapper-10 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: -9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 408px;
  transform: rotate(-30deg);
  white-space: nowrap;
  width: 266px;
}

.wireframe .line-6 {
  height: 2px;
  left: 126px;
  position: absolute;
  top: 620px;
  width: 1260px;
}

.wireframe .group-9 {
  height: 103px;
  left: 156px;
  position: absolute;
  top: 642px;
  width: 1235px;
}

.wireframe .group-10 {
  height: 47px;
  left: 20px;
  position: absolute;
  top: 1794px;
  width: 1402px;
}

.wireframe .group-11 {
  height: 47px;
  left: 20px;
  position: absolute;
  top: 2245px;
  width: 1402px;
}

.wireframe .COUNTRY-is-actually {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 532px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 759px;
  width: 888px;
}

.wireframe .text-wrapper-11 {
  text-decoration: underline;
}

.wireframe .text-wrapper-12 {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
}

.wireframe .text-wrapper-13 {
  font-size: 28px;
}

.wireframe .group-12 {
  height: 67px;
  left: 108px;
  position: absolute;
  top: 1861px;
  width: 1223px;
}

.wireframe .overlap-9 {
  height: 115px;
  left: 108px;
  position: absolute;
  top: 2326px;
  width: 1223px;
}

.wireframe .group-13 {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1223px;
}

.wireframe .line-7 {
  height: 48px;
  left: 1076px;
  position: absolute;
  top: 67px;
  width: 3px;
}

.wireframe .france-FR {
  height: 188px;
  left: 103px;
  position: absolute;
  top: 2032px;
  width: 245px;
}

.wireframe .FRANCE-is-actually {
  color: #000000;
  font-family: "Vox Round-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 377px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2036px;
  width: 435px;
}

.wireframe .rectangle-5 {
  border: 3px solid;
  border-color: #040f16;
  height: 591px;
  left: 111px;
  position: absolute;
  top: 2441px;
  width: 1217px;
}
#messages {
  height: 400px;
  width: 500px;
  overflow: scroll;
  justify-content: center;
}

#messageBox {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
}

#send {
  width: 80%;
  height: 30px;
}/*# sourceMappingURL=style.css.map */
